<a href="https://colab.research.google.com/github/Mayuri-thatikonda/loan_bank_data/blob/main/loan_data_bank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv('loan_data_bank.csv')
dataset.head()

   credit.policy             purpose  ...  not.fully.paid  installment
0              1  debt_consolidation  ...               0       829.10
1              1         credit_card  ...               0       228.22
2              1  debt_consolidation  ...               0       366.86
3              1  debt_consolidation  ...               0       162.34
4              1         credit_card  ...               0       102.92

[5 rows x 14 columns]

In [3]:
dataset.isnull().sum()

credit.policy        0
purpose              0
int.rate             0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
installment          0
dtype: int64

In [4]:
dataset.dtypes

credit.policy          int64
purpose               object
int.rate             float64
log.annual.inc       float64
dti                  float64
fico                   int64
days.with.cr.line    float64
revol.bal              int64
revol.util           float64
inq.last.6mths         int64
delinq.2yrs            int64
pub.rec                int64
not.fully.paid         int64
installment          float64
dtype: object

In [5]:
dataset.describe()

       credit.policy     int.rate  ...  not.fully.paid  installment
count    9578.000000  9578.000000  ...     9578.000000  9578.000000
mean        0.804970     0.122640  ...        0.160054   319.089413
std         0.396245     0.026847  ...        0.366676   207.071301
min         0.000000     0.060000  ...        0.000000    15.670000
25%         1.000000     0.103900  ...        0.000000   163.770000
50%         1.000000     0.122100  ...        0.000000   268.950000
75%         1.000000     0.140700  ...        0.000000   432.762500
max         1.000000     0.216400  ...        1.000000   940.140000

[8 rows x 13 columns]

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   log.annual.inc     9578 non-null   float64
 4   dti                9578 non-null   float64
 5   fico               9578 non-null   int64
 6   days.with.cr.line  9578 non-null   float64
 7   revol.bal          9578 non-null   int64
 8   revol.util         9578 non-null   float64
 9   inq.last.6mths     9578 non-null   int64
 10  delinq.2yrs        9578 non-null   int64
 11  pub.rec            9578 non-null   int64
 12  not.fully.paid     9578 non-null   int64
 13  installment        9578 non-null   float64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [7]:
dataset.shape

(9578, 14)

In [8]:
dataset.nunique()

credit.policy           2
purpose                 7
int.rate              249
log.annual.inc       1987
dti                  2529
fico                   44
days.with.cr.line    2687
revol.bal            7869
revol.util           1035
inq.last.6mths         28
delinq.2yrs            11
pub.rec                 6
not.fully.paid          2
installment          4788
dtype: int64

In [9]:
dataset['purpose'].unique()

array(['debt_consolidation', 'credit_card', 'all_other',
       'home_improvement', 'small_business', 'major_purchase',
       'educational'], dtype=object)

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['purpose'] = le.fit_transform(dataset['purpose'])
print(dataset)

      credit.policy  purpose  int.rate  ...  pub.rec  not.fully.paid  installment
0                 1        2    0.1189  ...        0               0       829.10
1                 1        1    0.1071  ...        0               0       228.22
2                 1        2    0.1357  ...        0               0       366.86
3                 1        2    0.1008  ...        0               0       162.34
4                 1        1    0.1426  ...        0               0       102.92
...             ...      ...       ...  ...      ...             ...          ...
9573              0        0    0.1461  ...        0               1       344.76
9574              0        0    0.1253  ...        0               1       257.70
9575              0        2    0.1071  ...        0               1        97.81
9576              0        4    0.1600  ...        0               1       351.58
9577              0        2    0.1392  ...        0               1       853.43

[9578 rows x 14 columns]

In [11]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [13]:
from xgboost import XGBRegressor
regressor = XGBRegressor()
regressor.fit(X_train, y_train)

[15:29:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [14]:
y = y.reshape(len(y),1)
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = regressor.predict(X_test)
print(y_pred)

[600.8691  571.81683 563.5488  ... 439.91855 336.59518 343.02536]

In [18]:
from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = regressor, X = X_train, y = y_train, cv = 10)
print("Accuracy: {:.2f} %".format(accuracies.mean()*100))
print("Standard Deviation: {:.2f} %".format(accuracies.std()*100))

[15:30:27] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:29] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:30] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[15:30:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Accuracy: 52.14 %
Standard Deviation: 2.53 %